/*General Styles*/
* {
  box-sizing: border-box;
  font-family: 'Niramit', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: grey;
}

a:hover {
  color: #FFFFFF;
  background-color: #2a547f;
}

body {
  color: #6f7e95;
}

button {
  border: 2px solid #d3d3d3;
  border-radius: 50%;
  color: grey;
  height: 37px;
  width: 37px;
}

h2 {
  color: grey;
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

p {
  margin: 15px;
  color: grey;
}

/*Body*/
.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
  "sidebar header"
  "sidebar main";
}

.container-left-nav-bar {
  background-color: #354052;
  grid-area: sidebar;
}

.nav-bar-styles {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.textbox-links {
  padding-left: 15px;
  padding-right: 15px;
}

.top-left-nav-bar {
  justify-content: center;
  align-items: center;
  height: 230px;
}

.fourth-left-nav-bar,
.second-left-nav-bar,
.third-left-nav-bar {
  border-top: 3px groove grey;
  height: 350px;
  width: 100%;
}

#user-img {
  border-radius: 50%;
  height: auto;
  margin: 7px;
  width: 90px;
}

/*Header*/
.container-header {
  grid-area: header;
  height: 295px;
  width: 100%;
}

.top-header {
  border-bottom: 2px solid #edf2f6;
  border-right: 2px solid #edf2f6;
  display: grid;
  grid-template-columns: 1fr 16fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  height: 75px;
  margin-top: 0;
  width: 100%;
}

.text-header {
  display: grid;
  grid-template-columns: 14fr 1.25fr .75fr .75fr .75fr;
  grid-template-rows: 1fr;
  height: 80px;
  margin: 15px;
  width: 100%;
}

input {
  font-size: 20px;
  height: 74px;
  padding: 17px;
  width: 100%;
}

/*Main*/
.container-main {
  background-color: #edf2f6;
  display: grid;
  grid-area: main;
  grid-template-columns: 1.4fr 1fr;
}

.seven-link-bar {
  align-items: flex-end;
  display: flex;
  height: 57px;
  justify-content: space-around;
}

/*Image Styling*/
.fas, .far {
  font-family: 'Niramit', sans-serif;
  color: #6f7e95;
  padding: 10px;
  margin-top: 5px;
}

.fas:hover, .far:hover, .links:hover {
  color: white;
}

.fab {
  margin: 10px;
}

.fab:hover {
  background-color: transparent;
}

.fa-user-plus, .fa-clipboard-list, .fa-th {
  color: grey;
  font-size: 30px;
  margin: 15px;
  text-align: center;
}

.fa-clipboard {
  color: #6f7e95;
}

.fa-bookmark, .fa-pencil-alt, .fa-trash-alt {
  color: grey;
  margin: -1px;
}

.fa-edit {
  color: white;
}

.fa-globe-americas {
  margin-bottom: 5px;
  margin-right: 10px;
  margin-top: 55px;
}

.fa-play-circle, .fa-location-arrow {
  margin-bottom: 5px;
  margin-right: 10px;
  margin-top: 15px;
}

/*Link Styling*/
.links {
  margin: 15px;
  white-space: nowrap;
}

.social-links {
  margin-top: 20px;
  margin-left: 45px;
  width: 87%;
}

#fb-link, #twitter-link, #linkedin-link {
  font-size: 20px;
  height: 60px;
  margin-top: 20px;
  padding: 13px;
  width: 100%;
}

#fb-link {
  background-color: #4c70c4;
}

#twitter-link {
  background-color: #01aaef;
}

#linkedin-link {
  background-color: #037fbb;
}

.open-button {
  border-radius: 37%;
  height: 40px;
  padding: 7px;
  width: 73px;
}

#preview-post-link {
  color: #01aaef;
}

.totals-button, .applicants-button {
  border-radius: 37%;
  font-size: 17px;
  font-weight: bold;
  height: 41px;
  margin: 17px;
  padding: 5px;
  width: 283px;
}

.applicants-button {
  margin: auto;
  width: 211px;
}

.two-buttons-section {
  margin: auto;
}

/*hamburger*/
.hamburger {
/*  border-right: solid 2px #edf2f6;*/
  height: 74px;
  overflow: hidden;
  position: relative;
  width: 80px;
  margin-left: 8px;
}

.hamburger:hover .bar {
  background-color: grey;
}

.bar {
  background: grey;
  border-radius: 25%;
  height: 5px;
  left: 25px;
  position: absolute;
  transition: .4s;
  width: 31px;
}

.top-bar {
  top: 17px;
}

.middle-bar {
  top: 32px;
}

.bottom-bar {
  top: 48px;
}

.toggled-hamburger .top-bar {
  top: 24px;
  transform: rotate(45deg);
}

.toggled-hamburger .middle-bar {
  left: -55px;
}

.toggled-hamburger .bottom-bar {
  top: 24px;
  transform: rotate(-45deg);
}

.hamburger:hover {
  background: #FFFFFF;
  cursor: pointer;
}

.hamburger:hover bar {
  background: #fff;
}

.right-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  height: 500px;
}


/* Customize the label (the container) */
.category-checkboxes {
  cursor: pointer;
  display: block;
  font-size: 20px;
  margin-bottom: 12px;
  position: relative;
  padding-left: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-left: 10px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.category-checkboxes input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.checkmark {
  background-color: #eee;
  height: 16px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 16px;
}

.admin-check {
  background-color: #ffcf18;
}

.design-check {
  background-color: #2196F3;
}

.executive-check {
  background-color: #e92169;
}

.resource-check {
  background-color: #0ca98c;
}

.checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

.category-checkboxes input:checked ~ .checkmark:after {
  display: block;
}

.category-checkboxes .checkmark:after {
  border: solid black;
  border-width: 0 3px 3px 0;
  height: 10px;
  left: 5px;
  width: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Table*/
table {
  background-color: white;
  height: 500px;
  margin: 40px;
  width: 95%;
}

th {
  font-weight: 800;
  width: 150px;
}

th, td {
  padding: 10px;

}

.table-header {
  background-color: #6f7e95;
  border: 2px solid grey;
  color: white;
}

.solid-line {
  background-color: grey;
  height: 2px;
}

/*Chart*/
.chart-section {
  width: 100%;
  margin-top: 100px;
  margin-left: 15px;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.single-chart {
  justify-content: space-around ;
  width: 33%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #d6e3ec;
  stroke-width: 2.2;
}

.circle {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke-width: 2.2;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.green .circle {
  stroke: #00BEC4;
}

.circular-chart.blue .circle {
  stroke: #009ffE;
}

.circular-chart.purple .circle {
  stroke: #BD59AE;
}

.number {
  fill: #666;
  font-family: sans-serif;
  font-size: 8px;
  text-anchor: middle;
}

.text {
  fill: #666;
  font-family: sans-serif;
  font-size: 2.5px;
  text-anchor: middle;
}

/*Bar graph*/
.bar-graph {
  width: 100%;
}

#bargraphVertical{
  border: 1px solid #ccc;
  height: 390px;
  width: 87%;
}
#bargraphVertical td{
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  text-align: center;
  background: #698e8e 15px bottom;
  color: white;
}

#bargraphVertical th{
  font-weight: normal;
}

.copy-link-box, .copy-link-box2 {
  background-color: white;
  color: grey;
  display: inline-block;
  font-size: 22px;
  margin-right: 0;
  padding: 7px;
  text-align: center;
  width: 80%;
}

.copy-link-box2 {
  display: block;
  width: 100%;
}

.copy-button {
  background-color: #00BEC4;
  border: none;
  border-radius: 0;
  color: white;
  display: inline;
  font-size: 20px;
  height: 41px;
  margin-left: -5px;
  padding: 7px;
  width: 19.5%;
}

.link-boxes {
  display: inline-block;
}

/*Media Queries*/
@media screen and (max-width: 1200px) {
  .container-main {
    display: flex;
    flex-flow: column wrap;
  }

  .table-section {
    width: 92%;
  }

  .flex-wrapper {
    width: 94%;
    margin-top: -75px;
  }

  .text-header {
    align-items: center;
    padding: 8px;
  }

  .seven-link-bar {
    display: flex;
    flex-flow: row wrap;
    margin: 15px;
    margin-top: 56px;
  }

  .fab {
    margin: 10px;
    margin-right: 200px;
  }
}


@media screen and (max-width: 320px) {
  .container-main {
    display: flex;
    flex-flow: column wrap;
  }

  .container-header {
    height: 400px;
  }

  .social-links {
    margin-top: 0;
  }

  #fb-link {
    padding: 100px;
  }

  .fab {
    margin-left: 100px;
    margin: 0;
  }
}

